pipeline/pl_dataset_orchestrator.json
{
	"name": "pl_dataset_orchestrator",
	"properties": {
		"activities": [
			{
				"name": "GetActiveTables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT DISTINCT * FROM dbo.Metadata_Control_List WHERE IsActive = 1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_raw_sql",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetActiveTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetActiveTables').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 5,
					"activities": [
						{
							"name": "ExecuteWorker",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_metadata_driven_sql_control",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"source_table": {
										"value": "@item().SourceTableName",
										"type": "Expression"
									},
									"source_schema": {
										"value": "@item().SourceSchema",
										"type": "Expression"
									},
									"cdc_col": {
										"value": "@item().CDC_Column",
										"type": "Expression"
									},
									"output_container": {
										"value": "@item().TargetContainer",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Backfill_Date": {
				"type": "string"
			}
		},
		"annotations": []
	}
}