pipeline/pl_file_processor.json
{
	"name": "pl_file_processor",
	"properties": {
		"activities": [
			{
				"name": "Get_Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_raw_files",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@pipeline().parameters.source_container",
								"type": "Expression"
							},
							"directory": {
								"value": "@pipeline().parameters.source_directory",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach_File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get_Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get_Metadata').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy_CSV_to_Parquet",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_raw_csv",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@pipeline().parameters.source_container",
											"type": "Expression"
										},
										"directory": {
											"value": "@pipeline().parameters.source_directory",
											"type": "Expression"
										},
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_bronze_parquet",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@pipeline().parameters.sink_container",
											"type": "Expression"
										},
										"directory": {
											"value": "@concat(\n  pipeline().parameters.sink_directory,\n  '/ingestion_date=',\n  formatDateTime(utcNow(),'yyyy-MM-dd')\n)\n",
											"type": "Expression"
										},
										"filename": "@replace(item().name,'.csv','.parquet')"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"source_container": {
				"type": "string"
			},
			"source_directory": {
				"type": "string"
			},
			"sink_container": {
				"type": "string"
			},
			"sink_directory": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-01-24T12:18:16Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}